.ui.borderless.menu.headerbg{
  background-color: #024731;
  height: 64px;
}

.headerbg{
  background-color: #024731;
  height: 64px;
}

.titlebg {
  padding-top: 20px;
}

.ui.large.menu.borderless.container.midbg{
  box-shadow: none;
  border: none;
  height: 50px;
}

.midbg{
  height: 61px;
  border: #eee;
  margin-top: 15px;

}

.ui.centered.massive.image.loi{
  margin-top: 20px;
  height: 600px;
  width: 100%;
  overflow: hidden;
}

.text.expuh{

  font-size: 35px;
  font-weight: bold;
  color: #024731;
  letter-spacing: 0.02 em;
  text-align: center;
}

.box{
  padding: 70px 200px 10px 200px;
}

.box2{
  padding: 20px 200px 100px 200px;
}

.box3{
  padding: 20px 200px 10px 200px;
  background-color: #f7f7f7;
  height: 141px;
}

.header.mid{
  font-size: 25px;
}

.text.mid{
  font-size: 17px;
  text-align: center;
  padding-top: 10px;
}
